@import "modules/all";
@import "partials/base";

$imgchange: 775px;

.articles{

    article{
        position: relative;
        @extend %clearfix;

        h1{
            padding-top: 0;
        }

        img,
        > iframe {
            width: 30%;

            @media screen and (max-width: $imgchange){
                width: 100%;
            }
        }

        .video_container{
            @media screen and (min-width: $imgchange + 1){
                @include paddinghack(30%, 16, 9);
            }
        }

        @media screen and (min-width: $imgchange + 1){

            img,
            > iframe,
            .video_container {
                float: left;
                margin-right: 40px;
            }

            .date{
                left: calc(30% + 5px);
            }

        }
    }
}
