@import "modules/all";
@import "partials/base";

$fourtothree: 1460px;
$threetotwo: 775px;
$twotoone: 530px;

.articles{
    @include flexbox(row, wrap, flex-start, stretch);

    @media screen and (max-width: $twotoone){
        justify-content: center;
    }

    article{
        @include rowMachine(4, 2%, 25px);

        @media screen and (max-width: $fourtothree){
            @include rowMachine(3, 2%, 25px);
        }

        @media screen and (max-width: $threetotwo){
            @include rowMachine(2, 3%, 25px);
        }

        @media screen and (max-width: $twotoone){
            @include rowMachine(1, 0, 25px);
        }
    }
}
