article{
    box-sizing: border-box;
    background: $box_bg;
    margin-bottom: 20px;
    position: relative;

    .content_container &{
        padding: 24px 0;

        p{
            padding: 0;
        }
    }

    img{
        transition: .3s all ease;
        margin-bottom: 24px;
    }

    a:hover{
        img{
            opacity: .5;
        }
    }

    .category,
    .tags {

        .index &{
            font-size: .7em;
            opacity: .6;
        }
    }

    .date{
        .index &{
            font-size: .7em;
            opacity: .6;
        }
    }

    .post_content{
        p {
            max-width: 700px;
            margin-bottom:24px;
            font-weight: $light;
            line-height: 1.58;
            letter-spacing: -.003em;

            img {
                margin-bottom: 0;
            }
        }
        .index &{
            padding-bottom: 50px;
        }
    }

    ul,
    ol{
        list-style: circle;
        padding: 0 35px;

        li{
            padding-left: 0px;
        }
    }

    ol{
        list-style: decimal;
    }

    .info_list{
        list-style: none;
        padding: 0;

        li{
            display: inline-block;
            padding: 0 15px 0 0;
        }
    }

    .gist {
        max-width: 760px;

        @media screen and (max-width: 800px){
            max-width: 680px;
        }

        @media screen and (max-width: 740px){
            max-width: 450px;
        }

        @media screen and (max-width: 520px){
            max-width: 320px;
        }

        @media screen and (max-width: 375px){
            max-width: 300px;
        }

        @media screen and (max-width: 340px){
            max-width: 280px;
        }
    }
}

.wrapper{
    width: 100%;
    border: $box_line;
    height: auto;
    box-sizing: border-box;
    background: $box_bg;
}

.short{
    width: 100%;

    a{
        display: block;
        width: 100%;
        padding: 10px;

        .shortdate{
            font-size: .8em;
            opacity: .8;
            padding-right: 10px;
            margin-right: 10px;
            border-right: $line;
        }
    }
}
