// Logo SVG styling

.icon{
    fill:$blue;
    fill-rule:nonzero;
    stroke:$lightblue;
    stroke-width:0.05;
    stroke-miterlimit:4;
    stroke-opacity:0.94117647;
    stroke-dasharray:none;
    transition: .3s all ease;
}

.twister{
    font-size:4vw;
    font-weight: $light;
    line-height:125%;
    fill:$coal;
    transition: .3s all ease;

    @media screen and (max-width: 1000px){
        font-size:48px;
    }

    @media screen and (max-width: 640px){
        font-size:30px;
    }
}

.slogan{
    font-size:7px;
    font-weight:200;
    line-height:125%;
    fill:$blue;
    transition: .3s all ease;
}

a:hover{
    svg{
        .icon{
            fill:$blue;
            stroke:$coal;
        }

        .twister{
            fill:$blue;
        }

        .slogan{
            fill:$lightblue;
        }
    }
}
