.widget{
    background: $box_bg;
    box-sizing: border-box;
    padding: 10px;
    border-bottom: $box_line;

    &:last-of-type{
        margin-bottom: 0px;
    }

    .title{
        font-weight: $widget_title_font-weight;
    }

    ul{
        list-style: none;
        padding: 0;

        li{
            padding-left: 0px;
        }
    }
}
